<h1>Cats#index</h1>
<p>Find me in app/views/cats/index.html.erb</p>
<hr>
<% @cats.each do |cat| %>
	<%= link_to cat.name, cat_path(cat.id) %>
	<%= link_to "DESTROY THE KITTY", cat_path(cat.id), method: :delete %><br>
<% end %>
